body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: rgb(106,90,205);
    font-weight: bold;
    font-size: 30px;
}

h2{
    font-size:20px;
}

img {
    width: 40%;
    max-width: 300px;
}

.recept {
    border: solid 3px rgb(94, 94, 243);
    width:50%;
    min-width: 300px;
    border-radius: 20px;
    background-color: lavender;
    padding:20px;
}

main {
    display: flex;
    flex-wrap:wrap;
}