/* SISTA STEG 3 (Överkus) */
/* 1 - Göm checkbox */
input[type="checkbox"] {
  opacity: 0; /* eller display: none eller visibility: hidden */
}

/* 2 - the box */
input[type="checkbox"]+label::before {
display: inline-block;
width: 20px;
height:20px;
border: solid 3px deepskyblue;
border-radius: 3px;
content: ''; 
}

/* 3 - the check */
input[type="checkbox"]+label::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  
  transform: rotate(-45deg);
}

/* 4 - the position */
input[type="checkbox"]+label {
  position: relative;
padding-left: 5px;
}
input[type="checkbox"]+label::before,
input[type="checkbox"]+label::after {
  position: absolute;
}

/*Outer-box*/
input[type="checkbox"]+label::before {
  top: -4px;
left: -25px;
}

/*Checkmark*/
input[type="checkbox"]+label::after {
  left: -19px;
  top: 1px;
}

/* 5 - check - uncheck */

/*Hide the checkmark by default*/
input[type="checkbox"] + label::after {
  content: none;
}
/*Unhide the checkmark on the checked state*/
input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
input[type="checkbox"]:focus + label::before {
  outline: pink auto 2px;

}
