@import url('https://fonts.googleapis.com/css?family=Roboto|ZCOOL+KuaiLe');


* {
    box-sizing: border-box;
    
}

html {
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Roboto, arial;
}

h1 {
    font-size: 3rem;
    text-shadow: 4px 4px 4px #aaa;
    font-family: "ZCOOL KuaiLe";
}

form {
    width: 100%;
    max-width: 400px;
    border: 1px solid silver;
    border-radius: 8px;
    box-shadow: 10px 20px 20px rgba(0,0,0,0.125);
    padding: 1rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    display:block;
    width:100%;
    border: 1px solid silver;
    border-radius: 0.25rem;
    background: none;
    box-shadow: none;
    padding:0.5rem;
    margin-top: 0.25rem;
    height: 2.5rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    outline:none;
    border-color: dodgerblue;
    box-shadow: 0 0 0 3px rbga(30,144,255,0.5);

}

textarea {
    height:auto;
    resize: vertical;
}

input[type="radio"] {
    display: inline-block;
}

input[type="radio"] + input[type="radio"] {
    margin-left: 2rem;
}

button{
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 999px;

}

button:hover {
    background-color:red;
}

