* {
    box-sizing: border-box;
    border:1px solid red;
}

header > img {
    width:125px;
    vertical-align: middle;
    border: solid 1px black;
    margin:0;
}

main {
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: 100%;
    height: 100vh;
}

div.left {
    grid-row: 1/2;
    grid-column: 1/2;
    overflow: hidden;
}

div.middle {
    grid-row: 1/2;
    grid-column: 2/3;
}

div.right {
    grid-row: 1/2;
    grid-column: 3/4;
}

aside {
    display: none;
}